Проанализируйте результаты эксперимента и напишите свои рекомендации менеджеру.

Mobile Games AB Testing with Cookie Cats

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('результаты А_B - cookie_cats 2.csv')

In [4]:
df.head(5)

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3            0            0
1     337  gate_30              38            1            0
2     377  gate_40             165            1            0
3     483  gate_40               1            0            0
4     488  gate_40             179            1            1

In [5]:
# Проверка на дубликаты 
dupl = df[['userid']].duplicated()
dupl.value_counts()

False    90189
dtype: int64

Сумма сессий в течении первых 14 дней по группам

тестовая группа провела больше игровых сессий чем контрольная

In [8]:

sum_group_gate_40 = df[df['version'] == 'gate_40']['sum_gamerounds'].sum()
sum_group_gate_40

2333530

In [7]:
sum_group_gate_30 = df[df['version'] == 'gate_30']['sum_gamerounds'].sum()
sum_group_gate_30

2344795

Количество люей оставшихся после 1 дня после установки 

в контрольной группе вернувшихся после одного дня меньше чем в тестовой

In [10]:

retention_1_group_gate_30 = df[df['version'] == 'gate_30']['retention_1'].sum()
retention_1_group_gate_30

20034

In [14]:
retention_1_group_gate_40 = df[df['version'] == 'gate_40']['retention_1'].sum()
retention_1_group_gate_40

20119

Количество люей оставшихся после 1 дня после установки

в контрольной группе возвращение в игру больше чем в тестовой

In [12]:
retention_7_group_gate_30 = df[df['version'] == 'gate_30']['retention_7'].sum()
retention_7_group_gate_30

8502

In [13]:
retention_7_group_gate_40 = df[df['version'] == 'gate_40']['retention_7'].sum()
retention_7_group_gate_40

8279